Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [5]:
#Answers:
#DBMS:-
'''
A database is an organized collection of structured information, or data, typically stored electronically 
in a computer system. 
A database is usually controlled by a database management system (DBMS).
'''
# Differentiate between SQL and NoSQL databases:-
'''
1. SQL databases are table-based And NoSQL databases are document, key-value, graph, or wide-column stores.
2. SQL databases are better for multi-row transactions And  NoSQL is better for unstructured data like documents or JSON.
3.SQL databases are relational, and NoSQL databases are non-relational.
4.SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
5.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
'''

'\n1. SQL databases are table-based And NoSQL databases are document, key-value, graph, or wide-column stores.\n2. SQL databases are better for multi-row transactions And  NoSQL is better for unstructured data like documents or JSON.\n3.SQL databases are relational, and NoSQL databases are non-relational.\n4.SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.\n5.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.\n'

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
#Answers:
#DDL:-
''' The DDL Commands in Structured Query Language are used to create and modify the schema of 
the database and its objects. The syntax of DDL commands is predefined for describing the data.
'''
#CREATE:
'''
CREATE is a DDL command used to create databases, tables, triggers and other database objects.
Syntax to Create a Database:
CREATE Database Database_Name;

Syntax to Create a Table:
Create table Tabe_Name(Att1 data_type,....);
'''

#Drop:-
'''
DROP Command:-
DROP is a DDL command used to delete/remove the database objects from the SQL database. We can easily remove the entire table,
view, or index from the database using this DDL command.
Syntax to remove a database:
DROP DATABASE Database_Name;  
Syntax to remove a table:
DROP TABLE Table_Name; 
This example describes how to remove the existing index from the SQL database.
Syntax to remove an index:
DROP INDEX Index_Name;  
'''

#ALTER:-
'''
ALTER Command
ALTER is a DDL command which changes or modifies the existing structure of the database,
and it also changes the schema of database objects.
This example shows how to add a new field to the existing table.
Syntax to add a newfield in the table:
ALTER TABLE name_of_table ADD column_name column_definition; 
Example: ALTER TABLE Student ADD Father's_Name Varchar(60);  
'''

#TRUNCATE:-
'''
TRUNCATE Command
TRUNCATE is another DDL command which deletes or removes all the records from the table.
This command also removes the space allocated for storing the table records.
Syntax of TRUNCATE command
TRUNCATE TABLE Table_Name; 
'''

'\nTRUNCATE Command\nTRUNCATE is another DDL command which deletes or removes all the records from the table.\nThis command also removes the space allocated for storing the table records.\nSyntax of TRUNCATE command\nTRUNCATE TABLE Table_Name; \n'

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
#DML:-
'''
DML Commands in SQL
DML is an abbreviation of Data Manipulation Language.
The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, 
store, modify, update and delete the existing records from the database using DML commands.
'''

#INSERT:-
'''
INSERT DML Command
INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data 
in database tables.
Syntax of INSERT Command:-
INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;   
Example:-
INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19);  
'''

#UPDATE:-
'''
UPDATE DML Command:-
UPDATE is another most important data manipulation command in Structured Query Language, which allows users to 
update or modify the existing data in database tables.
Syntax of UPDATE Command:
UPDATE Table_name SET [column_name1= value_1, â€¦.., column_nameN = value_N] WHERE CONDITION;
Example:
UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;  
'''

#DELETE:-
'''
DELETE DML Command
DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
This command of Data Manipulation Language does not delete the stored data permanently from the database.
We use the WHERE clause with the DELETE command to select specific rows from the table.
Syntax of DELETE Command:
DELETE FROM Table_Name WHERE condition; 
Example:
DELETE FROM Product WHERE Product_Id = 'P202' ;  
'''

"\nDELETE DML Command\nDELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.\nThis command of Data Manipulation Language does not delete the stored data permanently from the database.\nWe use the WHERE clause with the DELETE command to select specific rows from the table.\nSyntax of DELETE Command:\nDELETE FROM Table_Name WHERE condition; \nExample:\nDELETE FROM Product WHERE Product_Id = 'P202' ;  \n"

Q4. What is DQL? Explain SELECT with an example.

In [7]:
#DQL:-
'''
The Data Query Language, or DQL for short, is the group of commands responsible for querying data from a database. 
The principal DQL command in SQL is the SELECT command, which retrieves data from one or more tables.
'''
#SELECT:-
'''
The SQL SELECT Statement:
The SELECT statement is used to select data from a database.
The data returned is stored in a result table, called the result-set.
SELECT Syntax
SELECT column1, column2, ...
FROM table_name;
Example:
SELECT * FROM table_name;
'''

'\nThe SQL SELECT Statement:\nThe SELECT statement is used to select data from a database.\nThe data returned is stored in a result table, called the result-set.\nSELECT Syntax\nSELECT column1, column2, ...\nFROM table_name;\nExample:\nSELECT * FROM table_name;\n'

Q5. Explain Primary Key and Foreign Key.

In [8]:
#Primary Key:
'''
A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database.
It means it should not have any duplicate value. Also, it doesnâ€™t contain a NULL value.
The table allows only one primary key.
The primary key doesnâ€™t allow null values.
It can identify the record uniquely in the database table.
In the primary key, the value cannot be removed from the parent table.
Its restriction can be completely defined on the temporary tables.
'''
#Foreign Key:
'''
A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign 
key is to sustain data integrity between two separate instances of an entity.
Tables can allow more than one foreign key.
The foreign key accepts multiple null values.
A foreign key is a field in the table that is the primary key in another table.
In this, the value can be deleted from the child table.
Its restriction cannot be defined on the global or local temporary tables.
'''

'\nA foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign \nkey is to sustain data integrity between two separate instances of an entity.\nTables can allow more than one foreign key.\nThe foreign key accepts multiple null values.\nA foreign key is a field in the table that is the primary key in another table.\nIn this, the value can be deleted from the child table.\nIts restriction cannot be defined on the global or local temporary tables.\n'

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [9]:
#python code to connect MySQL to python:
'''
import mysql.connector  
  #Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google")  
  #printing the connection object   
print(myconn) 
'''

#Creating a cursor object:
'''
The cursor object can be defined as an abstraction specified in the Python DB-API 2.0. 
It facilitates us to have multiple separate working environments through the same connection to the database. 
We can create the cursor object by calling the 'cursor' function of the connection object. 
The cursor object is an important aspect of executing queries to the databases.

The syntax to create the cursor object is given below.
<my_cur>  = conn.cursor() 

Example:
import mysql.connector  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google", database = "mydb")  
  #printing the connection object   
print(myconn)   
  #creating the cursor object  
cur = myconn.cursor()  
  print(cur)
'''

'\nThe cursor object can be defined as an abstraction specified in the Python DB-API 2.0. \nIt facilitates us to have multiple separate working environments through the same connection to the database. \nWe can create the cursor object by calling the \'cursor\' function of the connection object. \nThe cursor object is an important aspect of executing queries to the databases.\n\nThe syntax to create the cursor object is given below.\n<my_cur>  = conn.cursor() \n\nExample:\nimport mysql.connector  \n#Create the connection object   \nmyconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google", database = "mydb")  \n  #printing the connection object   \nprint(myconn)   \n  #creating the cursor object  \ncur = myconn.cursor()  \n  print(cur)\n'

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
#Answer:
'''
Order of execution of SQL clauses in an SQL query:ssssssss
from -->where ---> group by--->having --->select --->order by--->limit.
'''