Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

series = pd.Series(my_list)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Clair'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
'''
Here's how a DataFrame is different from a Pandas Series:

Dimensionality:

1.DataFrame: Two-dimensional (rows and columns).
Series: One-dimensional (a single column or row of data).
Structure:

2.DataFrame: Can contain multiple columns, and each column can have a different data type.
Series: Contains a single column of data with a homogeneous data type.
Indexing:

3.DataFrame: Has both row and column labels (row index and column names).
Series: Has an index (row labels), which can be custom or default, but no column names.
'''
#Example
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],
        'Age': [25, 30, 35, 40],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 35, 40], name='Age')

# Printing DataFrame and Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
   Name  Age Occupation
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   35    Teacher
3  Joan   40     Lawyer

Series:
0    25
1    30
2    35
3    40
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [5]:
'''
Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions and methods include

1.Selection and Filtering:
loc[] and iloc[]: Used to select specific rows and columns by labels or integer location, respectively.
[] (square brackets): Used for column selection.
query(): Allows you to filter rows based on a query expression.

Example:
python
Copy code
df.loc[df['Age'] > 30]  # Select rows where Age > 30

2.Sorting:
sort_values(): Sorts the DataFrame by one or more columns.
sort_index(): Sorts the DataFrame by row or column index.

Example:
python
Copy code
df.sort_values(by='Age', ascending=False)  # Sort by Age in descending order

3.Aggregation and Grouping:
groupby(): Groups data based on a specified column and allows you to perform aggregation operations.
Aggregation functions like sum(), mean(), count(), etc.

Example:
python
Copy code
df.groupby('Occupation')['Age'].mean()  # Calculate the mean age by occupation

4.Data Cleaning:
drop(): Removes specified rows or columns.
fillna(): Fills missing values with specified values.
drop_duplicates(): Removes duplicate rows.

Example:
python
Copy code
df.drop(columns=['Occupation'])  # Remove the 'Occupation' column

5.Data Transformation:
apply(): Applies a function to each element or column.
map(): Applies a function to each element in a Series.
replace(): Replaces values with other values.

Example:
python
Copy code
df['Age'].apply(lambda x: x + 5)  # Add 5 to each age value

6.Merging and Joining:
merge(): Combines multiple DataFrames based on common columns.
concat(): Concatenates DataFrames along rows or columns.

Example:
python
Copy code
merged_df = pd.merge(df1, df2, on='key')  # Merge two DataFrames on a common 'key' column

7.Reshaping and Pivoting:
pivot(): Reshapes data from long to wide format.
melt(): Reshapes data from wide to long format.

Example:
python
Copy code
df.pivot(index='Name', columns='Occupation', values
'''

"\nPandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions and methods include\n\n1.Selection and Filtering:\nloc[] and iloc[]: Used to select specific rows and columns by labels or integer location, respectively.\n[] (square brackets): Used for column selection.\nquery(): Allows you to filter rows based on a query expression.\n\nExample:\npython\nCopy code\ndf.loc[df['Age'] > 30]  # Select rows where Age > 30\n\n2.Sorting:\nsort_values(): Sorts the DataFrame by one or more columns.\nsort_index(): Sorts the DataFrame by row or column index.\n\nExample:\npython\nCopy code\ndf.sort_values(by='Age', ascending=False)  # Sort by Age in descending order\n\n3.Aggregation and Grouping:\ngroupby(): Groups data based on a specified column and allows you to perform aggregation operations.\nAggregation functions like sum(), mean(), count(), etc.\n\nExample:\npython\nCopy code\ndf.groupby('Occupation')['Age'].mean()  # Calculate the mean age by occupation\n\n4.Data Cleaning:\ndrop(): Removes specified rows or columns.\nfillna(): Fills missing values with specified values.\ndrop_duplicates(): Removes duplicate rows.\n\nExample:\npython\nCopy code\ndf.drop(columns=['Occupation'])  # Remove the 'Occupation' column\n\n5.Data Transformation:\napply(): Applies a function to each element or column.\nmap(): Applies a function to each element in a Series.\nreplace(): Replaces values with other values.\n\nExample:\npython\nCopy code\ndf['Age'].apply(lambda x: x + 5)  # Add 5 to each age value\n\n6.Merging and Joining:\nmerge(): Combines multiple DataFrames based on common columns.\nconcat(): Concatenates DataFrames along rows or columns.\n\nExample:\npython\nCopy code\nmerged_df = pd.merge(df1, df2, on='key')  # Merge two DataFrames on a common 'key' column\n\n7.Reshaping and Pivoting:\npivot(): Reshapes data from long to wide format.\nmelt(): Reshapes data from wide to long format.\n\nExample:\npython\nCopy code\ndf.pivot(index='Name', columns='Occupation', values\n"

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [6]:
'''
In Pandas, the following data structures are mutable:

1.DataFrame: DataFrames are mutable, meaning you can change their content after creation. You can add or remove rows and columns, update values, 
and perform various data manipulation operations on DataFrames.

2.Series: While Series are also mutable, they are more limited in their mutability compared to DataFrames. You can change the values within a Series, 
but you cannot change the index labels or the data type of the Series.

3.Panel: Pandas Panel has been deprecated in recent versions (0.25.0 and later) and is no longer recommended for use. Instead, 
you should use other data structures like DataFrames with MultiIndexes. However, when Panels were available, they were also mutable.
'''

'\nIn Pandas, the following data structures are mutable:\n\n1.DataFrame: DataFrames are mutable, meaning you can change their content after creation. You can add or remove rows and columns, update values, \nand perform various data manipulation operations on DataFrames.\n\n2.Series: While Series are also mutable, they are more limited in their mutability compared to DataFrames. You can change the values within a Series, \nbut you cannot change the index labels or the data type of the Series.\n\n3.Panel: Pandas Panel has been deprecated in recent versions (0.25.0 and later) and is no longer recommended for use. Instead, \nyou should use other data structures like DataFrames with MultiIndexes. However, when Panels were available, they were also mutable.\n'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

# Create multiple Series
names = pd.Series(['John', 'Jane', 'Jim', 'Joan'])
ages = pd.Series([25, 30, 35, 40])
occupations = pd.Series(['Engineer', 'Doctor', 'Teacher', 'Lawyer'])

# Combine the Series into a DataFrame
data = {
    'Name': names,
    'Age': ages,
    'Occupation': occupations
}

df = pd.DataFrame(data)

# Print the resulting DataFrame
print(df)

   Name  Age Occupation
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   35    Teacher
3  Joan   40     Lawyer